.avatarWrapper {
  position: relative;

  width: 35px;
  height: 35px;

  margin: 8px 0;

  margin-right: 2px;

  .avatarImg {
    position: absolute;

    width: 30px;
    height: 30px;
    left: 0;
    top: 0;

    border-radius: 50%;
  }
  .avatarName {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 35px;
    height: 35px;
    left: 0;
    top: 0;

    border-radius: 50%;

    background: #e7e7e7;
    color: #000;

    font-weight: 600;
  }
}
